In [10]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
df = pd.read_csv("movie_dataset.csv")
df.head(3)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [12]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

# Selecting Features and imputing missing values.

In [ ]:
features = ['keywords','genres','cast','director','runtime','spoken_languages']
for feature in features:
	df[feature] = df[feature].fillna('')

# Create a column in DF which combines all selected features

In [34]:
def combine_feature(row):
	try:
		return (row['keywords'] + ' ' +  row['genres'] + ' ' + row['cast'] + ' ' +  row['director'] + ' ' +  str(row['runtime']) + ' ' +  row['spoken_languages'])
	except:
		print("Error:",row)

In [35]:
df['combined_features'] = df.apply(combine_feature,axis = 1)
print(df['combined_features'].head())

0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6 Act...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_features, dtype: object

# Create count matrix from this new combined column

In [36]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combined_features'])
cosine_sim = cosine_similarity(count_matrix)

In [37]:
def titlefromindex(index):
	return df[df['index'] == index].title.values[0]

def get_index_from_title(title):
	return df[df['title'] == title].index.values[0]

In [38]:
def recommend(movie):
    movie_index = get_index_from_title(movie)
    
    #Get a list of similar movies in descending order of similarity score
    similarmovies = list(enumerate(cosine_sim[movie_index]))
    sorted_similarmovies = sorted(similarmovies,key=lambda x:x[1],reverse=True)
    
    #Print titles of first count movies
    count = 0
    for movie in sorted_similarmovies:
        count += 1
        if count == 1:
            continue
        if count != 10:
            print(' '*8 + titlefromindex(movie[0]))
        else:
            break

In [39]:
movie = input("Enter your last watched movie:")
print("You would want to watch these as well: ")
recommend(movie)

Enter your last watched movie: Avatar

You would want to watch these as well:
        Alien
        X-Men: First Class
        Guardians of the Galaxy
        Inspector Gadget
        Small Soldiers
        Spectre
        Machete Kills
        Damnation Alley